.StartButton button {
    padding: 20px;
    margin: 0 auto;
}

.StartButton {
	background-color: var(--button-2-color) !important;
    border-color: var(--button-2-color) !important;
}

.StartButton:hover, .StartButton:active {
    background-color: var(--button-2-hover-color) !important;
    border-color: var(--button-2-hover-color) !important;
 }

.StartButton:focus {
    background-color: var(--button-2-color)!important;
    border-color: var(--button-2-color)!important;
 }