.TopicListContainer {
    position: relative;
}

.TopicList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    align-items: stretch;
    justify-content: flex-start;
    width : 70%;
    margin: auto;

    border: 4px solid rgb(83, 75, 75);
    padding: 20px;
}

.TopicList button {
    flex: 0 0 20%; 
}

@media(max-width: 768px) {
    .TopicListContainer {
        padding-bottom: 0;
    }    
    .TopicList {
        width : 100%;
    }
    .TopicList button {
        flex: 1 1 25%; 
    }

    .CustomMoveArrow {
        display: none;
    }
}

.ChooseAllButton {
	background-color: var(--button-2-color) !important;
    border-color: var(--button-2-color) !important;
}

.ChooseAllButton:hover, .ChooseAllButton:active {
    background-color: var(--button-2-hover-color) !important;
    border-color: var(--button-2-hover-color) !important;
 }

.ChooseAllButton:focus {
    background-color: var(--button-2-color)!important;
    border-color: var(--button-2-color)!important;
 }

 .TopicChoiceButton {
    background-color: var(--button-3-color)!important;
    border-color: var(--button-3-color)!important;
 }

 .TopicChoiceButton.Chosen {
    background-color: var(--chosen-button-color)!important;
    border-color: var(--front-color)!important;  
 }

.TopicChoiceButton.Chosen:active {
    background-color: var(--chosen-button-hover-color) !important;
    border-color: var(--chosen-button-hover-color) !important;
 }


