.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Brazil {
  background-color:  var(--brazil-back-color);
  --back-color: var(--brazil-back-color);
  color: var(--brazil-front-color);
  --front-color: var(--brazil-front-color);
  --title-color: var(--brazil-title-color);
  --check-color: var(--brazil-check-color);
  --button-text-color: var(--brazil-button-text-color);
  --button-color: var(--brazil-button-color);
  --button-hover-color: var(--brazil-button-hover-color);
  --button-2-color: var(--brazil-button-2-color);
  --button-2-hover-color: var(--brazil-button-2-hover-color);
  --button-3-color: var(--brazil-button-3-color);
  --button-3-hover-color: var(--brazil-button-3-hover-color);
  --chosen-button-color: var(--brazil-chosen-button-color);
  --chosen-button-hover-color: var(--brazil-chosen-button-hover-color);
  --question-code-color: var(--brazil-question-code-color);
  --reponses-code-color: var(--brazil-reponses-code-color);
  --links-color: var(--brazil-links-color);

}
  
.Darcula {
  background-color:  var(--darcula-back-color);
  --back-color: var(--darcula-back-color);
  color: var(--darcula-front-color);
  --front-color: var(--darcula-front-color);
  --title-color: var(--darcula-title-color);
  --check-color: var(--darcula-check-color);
  --button-text-color: var(--darcula-button-text-color);
  --button-color: var(--darcula-button-color);
  --button-hover-color: var(--darcula-button-hover-color);
  --button-2-color: var(--darcula-button-2-color);
  --button-2-hover-color: var(--darcula-button-2-hover-color);
  --button-3-color: var(--darcula-button-3-color);
  --button-3-hover-color: var(--darcula-button-3-hover-color);
  --chosen-button-color: var(--darcula-chosen-button-color);
  --chosen-button-hover-color: var(--darcula-chosen-button-hover-color);
  --question-code-color: var(--darcula-question-code-color);
  --reponses-code-color: var(--darcula-reponses-code-color);
  --links-color: var(--darcula-links-color);
}
