body { 
  position:absolute; 
  top:0; bottom:0; right:0; left:0; 
  min-height: 100vh;

  --choco-font-family:'choco', Fallback, sans-serif;

  /* different themes */

  --brazil-back-color:  rgb(201, 193, 85);
  --brazil-front-color:  #516ece;
  --brazil-title-color: rgb(78, 139, 70);
  --brazil-check-color: rgb(64, 112, 58);
  --brazil-button-text-color: var(--brazil-back-color);
  --brazil-button-color: var(--brazil-title-color);
  --brazil-button-hover-color:var(--brazil-check-color);
  --brazil-button-2-color:  #516ece;
  --brazil-button-2-hover-color: rgb(63, 73, 158);
  --brazil-button-3-color:  #6d7283;
  --brazil-button-3-hover-color: #383a3f;
  --brazil-chosen-button-color: #866c3c;
  --brazil-chosen-button-hover-color: #5f4d2c;
  --brazil-question-code-color:rgb(179, 175, 175);
  --brazil-reponses-code-color: #2a418b;
  --brazil-links-color: var(--brazil-back-color);

  --darcula-back-color:  #343a40;
  --darcula-front-color: var( --grey-color);
  --darcula-title-color: rgb(98, 72, 141);
  --darcula-check-color: green;
  --darcula-button-text-color: var(--darcula-front-color);
  --darcula-button-color: var(--darcula-title-color);
  --darcula-button-hover-color:  rgb(86, 62, 124);
  --darcula-button-2-color: #A0522D;
  --darcula-button-2-hover-color: #854223;
  --darcula-button-3-color:  #4c4e55;
  --darcula-button-3-hover-color: #656566;
  --darcula-chosen-button-color: #866c3c;
  --darcula-chosen-button-hover-color: #5f4d2c;
  --darcula-question-code-color: #773e1e;
  --darcula-reponses-code-color: #A0522D;
  --darcula-links-color: var(--darcula-button-2-color);

  --reponses-back-color: var(--grey-color);
  --grey-color: rgb(136, 136, 136);
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'choco';
  font-style: normal;
  font-weight: normal; 
  src: local('Myriad Pro Regular'), url('./fonts/choco.otf') format('truetype');
}